{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}

{% for item in items %}
<div class="acs-content-section content-section top-spacing-medium bottom-spacing-medium align-center">
	<div class="wrap">
		<div class="content-section-heading">
			<h1 class="content-section-title"> Titre </h1>
		</div>
		<div class="wrap-column">
			<div class="column2_1">
					Long shadow actionable insight thinker-maker-doer SpaceTeam co-working parallax bootstrapping viral affordances user centered design earned media piverate. Entrepreneur hacker affordances pitch deck ideate workflow latte human-centered design long shadow agile. Workflow workflow user story viral integrate thought leader disrupt bootstrapping.
			</div>
			<div class="column2_1">
					Physical computing personas integrate moleskine thought leader ideate moleskine. Sticky note pivot intuitive innovate user story intuitive quantitative vs. qualitative disrupt. User centered design food-truck waterfall is so 2000 and late cortado agile user story big data grok. Unicorn disrupt SpaceTeam unicorn pair programming SpaceTeam agile human-centered design co-working parallax.
			</div>
			<div class="cleared"></div>
		</div>
		<div class="cleared"></div>
	</div>
	<div class="cleared"></div>
</div>
{% endfor %}
