
{% include theme_path ~ "/templates/header-home.html.twig" %}
<!-- end Header -->
<div class="cleared"></div>

<!-- BEGIN CONTENT -->
<div id="body">
    {% if page.slider %}
        {{ page.slider }}
    {% endif %}

    {% if page.section %}
        {{ page.section }}
    {% endif %}


    {% if page.content %}
        {{ page.content }}
    {% endif %}
	<div class="cleared"></div>
</div>
<div class="footer-home">
{% include theme_path ~ "/templates/footer.html.twig" %}
</div>

