{% if header %}
    {{ header }}
{% endif %}


<div class="wrap-column">
    <div class="content-column1">
        <div class="widget-entry">
            <div class="column1"> </div>
            <div class="cleared"></div>
            <div class="column1">
                <div class="testimonials-slider testimonials-slider-section">
                    <div class="testimonials-container">
                        {% if rows %}
                            {{ rows }}
                        {% endif %}
                    </div>
                    {% if footer %}
                        {{ footer }}
                    {% endif %}
                </div>
            </div>
            <div class="cleared"></div>
        </div>
        <!-- end widget entry --> </div>
    <div class="cleared"></div>
</div>

<!-- end wrap-column no-wrap --> 

