<div class="wrap-column">
    <div class="content-column1">
        <div class="widget-entry">
            {% if header %}
                {{ header }}
            {% endif %}

            {% if rows %}
                <div class="portfolio-container-style-1">
                    {{ rows }}

                    <div class="cleared"></div>
                    <div class="cleared"></div>
                </div>
                <!-- end wrap-column no-wrap --> 
            {% endif %}
            <div class="cleared"></div>
            <div class="cleared"></div>
        </div>
    </div>
    <div class="cleared"></div>
</div>

