  <div class="wrap-column">
{% if rows %}
    <div class="content-column2_1">
        <div class="widget-entry">
            <div class="column1">
                {% if header %}
                    {{ header }}
                {% endif %}
                <div class="accordion accordion-type-stack accordion-style-normal" data-active="0" data-collapsible="0">

                    {{ rows }}
                </div>
            </div>
            <div class="cleared"></div>
            <div class="cleared"></div>
        </div>
        <!-- end widget entry -->
    </div>

{% endif %}
{% if footer %}
    {{ footer }}
{% endif %}
 <div class="cleared"></div>
  </div>