{% if header %}
    {{ header }}
{% endif %}

{% if rows %}
    <div class="wrap-column">
        <div class="content-column1">
            <div class="widget-entry">
                {{ rows }}
                <div class="cleared"></div>
                <div class="cleared"></div>
            </div>
        </div>
        <div class="cleared"></div>
    </div>
{% endif %}


