<div class="widget-entry">
    {% if header %}
        {{ header }}
    {% endif %}
    <div class="cleared"></div>
    <div class="column1">
        <div class="testimonials-slider testimonials-slider-box">
            <div class="testimonials-container">
                {% if rows %}
                    {{ rows }}
                {% endif %}
            </div>
            {% if footer %}
                {{ footer }}
            {% endif %}
        </div>
    </div>
    <div class="cleared"></div>
</div>

