{% for row in rows %}
    <div class="content-column3_1">
        <div class="widget-entry">
            <div class="icon-box">
                {{ row }}
                Test
            </div>
            <!-- end icon box -->
            <div class="cleared"></div>
        </div>
        <!-- end widget entry --> </div>
    {% endfor %}

