{% if header %}
    {{ header }}
{% endif %}

{% for row in rows %}
    <div class="wrap-column">
        <div class="content-column1">
            <div class="widget-entry">
                <div class="column1"> </div>
                <div class="column1">
                    <div class="woocommerce columns-3">
                        <ul class="products">
                            {{ row }}
                        </ul>
                         {% if pager %}
                        <div class="wrap">
                            <div class="paginate paginate-portfolio">
                                {{ pager }}
                            </div>
                        </div>
                    {% endif %}
                    </div>
                </div>
                        
                <div class="cleared"></div>
            </div>
        </div>
        <div class="cleared"></div>
    </div>
    <!-- end wrap-column no-wrap --> 
{% endfor %}

