
<div class="wrap-column">
    <div class="content-column2_1">
        {% if footer %}
            {{ footer }}
        {% endif %}
    </div>
    <div class="content-column2_1">
        <div class="widget-entry">
            {% if header %}
                {{ header }}
            {% endif %}
            <div class="cleared"></div>
            <div class="column1">
                <div class="logo-client logo-style-table">
                    {% if rows %}
                        {{ rows }}
                    {% endif %}
                    <div class="cleared"></div>
                </div>
            </div>
            <div class="cleared"></div>
            <div class="cleared"></div>
        </div>
        <!-- end widget entry --> </div>
    <div class="cleared"></div>
</div>
<!-- end wrap-column no-wrap --> 

