<div id="md-slider-{{ slid }}-block" class="md-slide-items" {{ attributes}} >
    {% for contentSlide in contentSlides %}
        {{ contentSlide }}
    {% endfor %}
</div>
<div id="acs-slider-container" class="acs-slider-container">
    <div class="acs-slider-text">AUDIT · CONSEIL · SOLUTIONS</div>
    <a class="acs-slider-button" href="mailto:contact@acsgestionprivee.fr">Prenez rendez-vous</a>
    <div class="acs-slider-topline">Concevons ensemble une strategie patrimoniale afin</div>
</div>